.geValid {
	color: green;
}

.geInvalid {
	color: red;
}

.geGuessBtn {
	margin: 5px auto;
}

.geValidateIcon {
	height: 1.3em;
	width: 1.3em;
	float: left;
	margin: 0px 5px;
}

#guessEntryForm div {
	margin-bottom: 5px;
}

#guessEntryForm * select {
	margin: auto 0px;
}
/*
#guessPerson, #guessWeapon, #guessRoom, #guessPlayer, #showPlayer, #shownCard {
	margin: auto 0px;
}
*/