/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.jumbotron {
	background-image: url("/img/inspector.jpg");
	background-color: #EDEDED;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


#title {
	text-shadow: 2px 2px 2px #fff;
}

#subtitle {
	text-shadow: 1px 1px 2px #fff;
}

#topNavbar {
  background-color: #78b9ff;
}

#topNavbarList {
  flex-direction: row;
}

#topNavbarList a {
  width: 100%;
  padding: 0px 25px;
}

#topNavbar img {
  width: auto;
  height: 20px;
}