<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="clueApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Clue Solver</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <!-- Angluar CSS -->
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="game-setup/game-setup.css">
  <link rel="stylesheet" href="player-status/player-status.css">
  <link rel="stylesheet" href="game-matrix/game-matrix.css">
  <link rel="stylesheet" href="guess-entry/guess-entry.css">
  <link rel="stylesheet" href="guess-list/guess-list.css">

  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
<!-- custom JS loads (MUST be before AngularJS script tags) -->
  

<!-- AngularJS load -->
   <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <!-- custom classes/libraries load -->
  <script src="core/clue-logic/clue-classes.js"></script>  
  <!-- Main app load -->
  <script src="app.module.js"></script>
  <!-- Custom services/core modules load -->
  <script src="core/core.module.js"></script>
  <script src="core/game-state/game-state.module.js"></script>
  <script src="core/game-state/game-state.service.js"></script>
  <!-- app controller load (must be after game-state)-->
  <script src="app.controller.js"></script>
  <!-- Components load -->
  <script src="card-list/card-list.module.js"></script>
  <script src="card-list/card-list.component.js"></script>
  <script src="game-setup/game-setup.module.js"></script>
  <script src="game-setup/game-setup.component.js"></script>
  <script src="player-status/player-status.module.js"></script>
  <script src="player-status/player-status.component.js"></script>
  <script src="game-matrix/game-matrix.module.js"></script>
  <script src="game-matrix/game-matrix.component.js"></script>
  <script src="guess-entry/guess-entry.module.js"></script>
  <script src="guess-entry/guess-entry.component.js"></script>
  <script src="guess-list/guess-list.module.js"></script>
  <script src="guess-list/guess-list.component.js"></script>

</head>
<body ng-controller="ClueAppController">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  <div ng-if="!gameInitialized()">
    <div class="jumbotron">
      <h2 id="title" class="display-3">Clue Solver</h2>
      <p id="subtitle" class="lead">Let us focus on solving the clues, so you can focus on your poker face.</p>
    </div>
  </div>

  <div ng-if="gameInitialized()">
    <!-- Navbar -->
    <nav id="topNavbar" class="navbar sticky-top navbar-default">
      <ul id="topNavbarList" class="nav navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" ng-click="changePage(page.ADDGUESS)"><img src="img/icons/plus.svg"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" ng-click="changePage(page.GUESSES)"><img src="img/icons/list-unordered.svg"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" ng-click="changePage(page.HANDS)"><img src="img/icons/organization.svg"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" ng-click="changePage(page.MATRIX)"><img src="img/icons/table-grid.svg"></a>
        </li>
      </ul>
    </nav>
  </div>

<div class="container-fluid">
  <div ng-if="!gameInitialized()">
    <game-setup></game-setup>
  </div>
  <div ng-if="gameInitialized()">
    <!-- pages -->
    <div ng-if="currentPage === page.ADDGUESS">
      <guess-entry></guess-entry>
    </div>
    
    <div ng-if="currentPage === page.GUESSES">
      <guess-list></guess-list>
    </div>
    
    <div ng-if="currentPage === page.HANDS">
      <player-status></player-status>
    </div>
    
    <div ng-if="currentPage === page.MATRIX">
      <game-matrix></game-matrix>
    </div>
    
  </div>
</div>

<!-- Bootstrap JS loads -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
