<h1>Player Status</h1>
<!--
<pre>Hands: {{$ctrl.hands.length}}</pre>
<pre>Solution: {{$ctrl.solution.length}}</pre>
<pre>Cards: {{$ctrl.cards.length}}</pre> 
-->
<div layout="column">
	<div class="playerStatus" ng-repeat="hand in $ctrl.hands">
		<h2>{{hand.name}} ({{hand.countKnownCards()}}/{{hand.handSize}})</h2>
		<ul>
			<li ng-repeat="card in hand.knownCards">{{card.name}}</li>
		</ul>
		<!--
		<h4>Card Status</h4>
		<table>
			<tr>
				<th>Name</th>
				<th>Status</th>
			</tr>
			<tr ng-repeat="card in $ctrl.cards">
				<td>{{card.name}}</td>
				<td>{{$ctrl.translateCardStatus(hand.checkCardStatus(card))}}</td>
			</tr>
		</table>
		-->
	</div>
	<div class="playerStatus">
		<h2>Solution ({{$ctrl.solution.countKnownCards()}}/{{$ctrl.solution.handSize}})</h2>
		<p>Person: {{$ctrl.solutionDisplay("person")}}</p>
		<p>Weapon: {{$ctrl.solutionDisplay("weapon")}}</p>
		<p>Room: {{$ctrl.solutionDisplay("room")}}</p>
	</div>
</div>